:root {
  --bs-primary: #625cff;
  --bs-primary-rgb: 98, 92, 255;
}
$font-base: 'IBM Plex Sans', sans-serif;

// Kolory
$brand-primary: #625cff;
$neutral-light: #efefef;
$neutral-mid: #e0e0e0;
$neutral: #f5f5f5;
$grey-mid: #848484;
$grey-light: #c7c7c7;
$background-body: #ffffff;

// Stylizacja i layout
$shadow-soft: 0 0 10px 10px rgba(0, 0, 0, 0.081);
